/* chrome://browser/content/browser.xhtml */
:root {
    --sfwindow: #16161e;
    --sfsecondary: #1a1b26;
    --sftext: #c0caf5;
    --toolbar-bgcolor: var(--sfsecondary) !important;
    --tabs-border-color: var(--sfsecondary) !important;
    --lwt-sidebar-background-color: var(--sfwindow) !important;
    --lwt-toolbar-field-focus: var(--sfsecondary) !important;
    --toolbar-field-focus-border-color: var(--sfsecondary) !important;
    --arrowpanel-background: var(--sfwindow) !important;
    --tab-max-width: 100px !important;
}

browser {
    background-color: var(--sfsecondary) !important;
}

menupopup {
    --panel-background: var(--sfwindow) !important;
    --panel-color: var(--sftext) !important;
}

.tab-background[selected] {
    background-color: var(--sfsecondary) !important;
}

.tabbrowser-tab[fadein]:not([pinned]):not([style*="max-width"]) {
    max-width: 150px !important;
}

.tab-background,
.tab-loading-burst,
#tabs-newtab-button {
    border: none !important;
    margin: 3px 4px 3px -4px !important;
    box-shadow: none !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-image,
.titlebar-buttonbox-container,
#identity-icon-label,
#userContext-icons,
.urlbarView,
#star-button-box,
#alltabs-button,
#forward-button,
#back-button,
#statuspanel[type="overLink"] {
    display: none !important;
}

#navigator-toolbox,
#sidebar-box,
.sidebar-placesTree {
    background: var(--sfwindow) !important;
}

#nav-bar,
#PersonalToolbar {
    background-color: #0000 !important;
    background-image: none !important;
    box-shadow: none !important
}

.tab-background,
.tab-stack {
    min-height: calc(var(--TabsHeight) * 1px) !important
}

#PanelUI-menu-button,
#unified-extensions-button {
    padding: 2px !important
}

#urlbar-background {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: var(--sfsecondary) !important;
}
#urlbar {
	color: var(--sftext) !important;
}

#navigator-toolbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative !important;
    padding-left: var(--tab-block-margin);
    border: none !important;
}

#titlebar {
    width: 0;
    flex-grow: 1;
    overflow: hidden;
}

.tab-content {
	color: var(--sftext) !important;
}
