/* chrome://browser/content/browser.xhtml */
:root {
    --sfwindow: #16161e;
    --sfsecondary: #1a1b26;
    --toolbar-bgcolor: var(--sfsecondary) !important;
    --tabs-border-color: var(--sfsecondary) !important;
    --lwt-sidebar-background-color: var(--sfwindow) !important;
    --lwt-toolbar-field-focus: var(--sfsecondary) !important;
    --toolbar-field-focus-border-color: var(--sfsecondary) !important;
    --arrowpanel-background: var(--sfwindow) !important;
}

browser {
    background-color: var(--sfsecondary) !important;
}

menupopup {
    --panel-background: var(--sfwindow) !important;
}

/* Tabs colors  */
#tabbrowser-tabs:not([movingtab])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab
> .tab-stack
> .tab-background[multiselected='true'],
#tabbrowser-tabs:not([movingtab])
> #tabbrowser-arrowscrollbox
> .tabbrowser-tab
> .tab-stack
> .tab-background[selected='true'] {
    background: var(--sfsecondary) !important;
    box-shadow: none !important;
}

.tabbrowser-tab:not([pinned]) .tab-icon-image,
.titlebar-buttonbox-container,
#unified-extensions-button .toolbarbutton-icon,
#identity-icon-label,
#userContext-icons,
.urlbarView,
#star-button-box,
#alltabs-button,
#statuspanel[type="overLink"] {
    display: none !important;
}

#navigator-toolbox,
#sidebar-box,
.sidebar-placesTree {
    background: var(--sfwindow) !important;
}

#urlbar > #urlbar-background {
    border-radius: 8px !important;
    background: var(--sfwindow) !important;
    box-shadow: none !important;
    border: none !important;
    margin: -2px !important;
}

.tab-background,
.tab-loading-burst {
    border: none !important;
    border-radius: 8px !important;
    margin: 3px -1px 3px 1px !important;
}

#tabs-newtab-button:hover > .toolbarbutton-icon {
    background-color: var(--sfsecondary) !important;
    border-radius: 8px !important;
}
