window#waybar {
	font-family: "JetBrains Mono";
	font-size: 14px;
	background: rgba(0, 0, 0, 0.75);
}

#workspaces button {
	font-family: "JetBrains Mono";
	border-radius: 0px;
	font-weight: 900;
	color: #4F5258;
	padding: 0px 4px;
}

#workspaces button.active {
	color: #A1DBF8;
	background: #111111;
}

#mpd,
#power-profiles-daemon,
#network,
#bluetooth,
#battery,
#backlight,
#pulseaudio,
#clock,
#custom-recording,
#tray {
	color: #E0E2EA;
	padding: 0px 10px;
}
