* {
    font-family: "Exo 2", feather;
    font-size: 18px;
    font-weight: bold;
    color: #80c0d0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.5);
}

#workspaces button {
    border-radius: 5px;
    padding: 0px 4px;
    margin: 2px 1px;
}

#workspaces button.active {
    background: rgba(128, 192, 208, 0.25);
    color: #61afef;
}

#workspaces,
#clock,
#network,
#battery,
#backlight,
#pulseaudio,
#custom-guvernor {
    padding: 0 10px;
}

#tray {
    padding-right: 10px;
}
