.powermenu {
  background-color: $bg;
  color: $fg;
  padding: 5px;
  font-family: SauceCodePro Nerd Font;
  font-size: 40px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  button {
    border-radius: 4px;
    transition: all ease .2s;
    &:hover { background-color: $bgSecondary; }
    &:active { background-color: $bg; }
    .content {
      border-radius: 4px;
    }
  }
  .shutdown { color: $red; }
  .reboot { color: $magenta; }
  .logout { color: $yellow; }
}

.powermenu-clickhandler {
  background-color: black;
}
